---
layout: default
title: "South Dublin Round Table"
description: "South Dublin Round Table 1256: friendship, adventure, and community impact for men in South Dublin, Ireland."
image: "/assets/img/logos/round-table-1256-logo-final.png"
keywords: "South Dublin Round Table, Round Table 1256, Round Table, Dublin, Ireland, friendship, good craic, community, events, fundraising"
---

{% include section-hero.html %}
{% include section-about.html %}
{% include section-gallery.html %}
{% include section-join.html %}
{% include section-footer.html %}
