{%- assign base_favicon_url = "/assets/img/icons" -%}
<link rel="icon" type="image/png" href="{{ base_favicon_url }}/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ base_favicon_url }}/favicon.svg" />
<link rel="shortcut icon" href="{{ base_favicon_url }}/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_favicon_url }}/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="South Dublin Round Table" />
<link rel="manifest" href="{{ base_favicon_url }}/site.webmanifest" />