<section class="bg-dark-gold black">
  <div class="flex items-center content-center max-width-900 mx-auto py1">
    <div class="px2">🎉</div>
    <div class="flex-auto">
      <strong>Recharter event</strong>: Join us June 5-6 for a pub crawl, outdoor activities, and
      a recharter dinner!
    </div>
    <div class="center">
      <a
          href="https://www.tickettailor.com/events/southdublinroundtable/2099488"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-narrow btn-outline bg-dark-blue white rounded p1 text-decoration-none mx2"
      >
        Get Tickets
      </a>
    </div>
  </div>
</section>