<section class="py4 bg-light-gray" id="about">
  <div class="max-width-4 mx-auto p4">
    <h2 class="mt0 mb2 dark-blue font-playfair">What is Round Table?</h2>
    <p class="mt0 medium-blue">
      Round Table is an organization for men under the age of 45, dedicated to building lasting friendships and making
      a positive impact in our communities.
    </p>
    <p>
      The <b>South Dublin Round Table</b> was chartered in late 2025 and is one of the newest additions to the
      <a href="https://www.roundtable.co.uk/" target="_blank">global Round Table family</a>, which has clubs in over 60
      countries. We meet up every other Thursday night to do cool activities, grab a beer, volunteer, and hang out.
    </p>
    <div class="flex flex-wrap mxn2 mt3">
      <div class="sm-col sm-col-4 px2 flex mb2">
        <div class="flex flex-column height-full bg-white rounded shadow">
          <img class="fit height-220 object-cover block" src="/assets/img/events/build-friendships.jpg" alt="Build friendships" loading="lazy">
          <h3 class="pt2 px2 mt0 h2 dark-blue">Build friendships</h3>
          <p class="pb2 px2 m0">
            Connect with like-minded young men and forge lifelong friendships through regular social gatherings and
            shared experiences.
          </p>
        </div>
      </div>
      <div class="sm-col sm-col-4 px2 flex mb2">
        <div class="flex flex-column height-full bg-white rounded shadow">
          <img class="fit height-220 object-cover block" src="/assets/img/events/share-adventures.jpg" alt="Share adventures" loading="lazy">
          <h3 class="pt2 px2 mt0 h2 dark-blue">Share adventures</h3>
          <p class="pb2 px2 m0">
            Explore Ireland and travel the world together through organized trips, outdoor activities, and
            unforgettable adventures.
          </p>
        </div>
      </div>
      <div class="sm-col sm-col-4 px2 flex mb2">
        <div class="flex flex-column height-full bg-white rounded shadow">
          <img class="fit height-220 object-cover block" src="/assets/img/events/give-back.png" alt="Give back" loading="lazy">
          <h3 class="pt2 px2 mt0 h2 dark-blue">Give back</h3>
          <p class="pb2 px2 m0">
            Make a real difference in South Dublin through meaningful community service projects and charitable
            initiatives.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
