<section class="py4 bg-light-gray" id="join">
  <div class="max-width-4 mx-auto p4">
    <h2 class="mt0 mb2 dark-blue font-playfair">Join now!</h2>
    <p class="mt0 medium-blue">
      Bored midweek? Looking to meet new people? Want to try cool new things? All men aged 18–45 are welcome! No
      pressure, no awkward intros, just decent guys doing something different.
    </p>
    <p>
      Message us using one of the following contact methods to get started:
    </p>
    <div class="clearfix mxn2 mt4 max-width-400 mx-auto">
      <div class="sm-col sm-col-4 px2">
        <a href="{{ site.facebook_url }}" target="_blank" class="block center dark-blue text-decoration-none">
          <i class="fa-brands fa-facebook fa-4x"></i>
          <p class="dark-blue mt1">Facebook</p>
        </a>
      </div>
      <div class="sm-col sm-col-4 px2">
        <a href="{{ site.instagram_url }}" target="_blank" class="block center dark-blue text-decoration-none">
          <i class="fa-brands fa-square-instagram fa-4x"></i>
          <p class="dark-blue mt1">Instagram</p>
        </a>
      </div>
      <div class="sm-col sm-col-4 px2">
        <a href="mailto:{{ site.email }}" target="_blank" class="block center dark-blue text-decoration-none">
          <i class="fa-solid fa-envelope fa-4x"></i>
          <p class="mt1">Email</p>
        </a>
      </div>
    </div>
  </div>
</section>
