<footer class="white py2 bg-dark-blue">
  <div class="max-width-4 mx-auto center">
    <div class="sm-flex items-center justify-between light-blue">
      <p class="m0">South Dublin Round Table 1256</p>
      <p class="m0">
        <a href="{{ site.facebook_url }}" class="light-blue" target="_blank">Facebook</a>
        <span class="mx1">·</span>
        <a href="{{ site.instagram_url }}" class="light-blue" target="_blank">Instagram</a>
        <span class="mx1">·</span>
        <a href="mailto:{{ site.email }}" class="light-blue" target="_blank">Email</a>
      </p>
    </div>
  </div>
</footer>
