<section class="bg-dark-blue-gradient white">
  <div class="clearfix max-width-4 mx-auto p4">
    <div class="lg-col-right lg-col lg-col-5 px2 center">
      <img class="max-width-400-or-60vw" src="/assets/img/logos/round-table-1256-logo-simple-final.png" alt="South Dublin Round Table Logo">
    </div>
    <div class="lg-col lg-col-7 px2 pt2 mb3">
      <span class="inline-block rounded caps bold px2 py1 mb2 bg-dark-gold h6 black">Table 1256</span>
      <h1 class="mt0 mb2 font-playfair white">South Dublin Round Table</h1>
      <p class="mt0 mb3 light-blue h2">Friendship. Adventure. Community Impact.</p>
      <a href="#join" class="btn btn-primary bg-white dark-blue p2 mb2 rounded">Join Us</a>
      <a href="#events" class="btn btn-outline p2 mb2 rounded">See Our Events</a>
    </div>
  </div>
</section>
